<!DOCTYPE html>
<html>
  <head>
    <title>Server</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css"/>
    <style>
      button {
        background-color: #4caf50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 12px;
      }
      button:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>Server</h1>
    <p align="center"> 
      <label for="cars">Choose a channel:</label>
      <form action="{{ url_for('send') }}" method="post" id="channels">
        <select id="channel" name="channel">
        {% for channel in channel_name['channel_names']%}
          <option value="{{channel}}">{{channel}}</option> 
        {% endfor %}
        </select>

    <input type="text" id="value" name="msg" value="Enter a message."><br><br>
    <input type="submit">
      </form>
    </p>
    <p align="center">
      <a href="/"><button>Back to Home</button></a>
    </p>

  </body>
</html>
